{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/popup.css' %}">

<link rel="stylesheet" href="{% static 'css/demo.css' %}">

<style>
    @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
    </style>
    <title>Elearn</title>
</head>

<body>

    <div class="contain">
        <div class="logo"><h2>Adira<span>Leadership Academy</span></h2></div>
    <div class="nav ">
        <a href="{% url 'home'%}" class='actives' >HOME</a>
        <a href="{% url 'about' %}">ABOUT</a>
        <a href="{% url 'courses' %}">COURSES</a>
        <a href="{% url 'contact' %}">CONTACT</a>
        {% if  user.is_authenticated %}
        <a   href="{% url 'logout' %}"> <h2 class="fa-solid fa-right-from-bracket"></h2>
        </a>
        <i style='padding-left: 30px;' id='cart' class="fa-solid fa-cart-shopping"></i>
        {% else %}
        <a href="{% url 'login' %}"><i class="fa fa-user"></i></a>

        </a>
        {% endif %}

      

    </div>
    <div class='side'><i class="fa-solid fa-bars"></i></div>
    </div>
    <div class='chatbot'>

        <div class="input-main">    <h1>Chatbot</h1>
            <input type="text" id="searchInput" placeholder="Search ........">
            <div id="tagsContainer"></div></i></div>
        </div>
        <div class="popup">
        <h1><i  class="fa-regular fa-comment"></i></h1>
    </div>
    <div class="header">
        <div class="condent">
            <h5 >Best
                E-learning platform</h5>
            <h1 >Learn Job ready skills <br>from free
                online courses <br>with certificates</h1>
            <p>Explore a wide range of courses designed to enhance
                your expertise in technology,<br> business, arts, and more. Start learning today!</p>
          <div class="btns">
            
            <a id='one' href="{% url 'about' %}"
            >Read More</a>
        <a id='two' href='{% url 'signup' %}'>Join
            Now</a>
        </div>
      </div>
      <div class='cart-popup'>
        <div class=cart-popup-flex><i id='cart1' class="fa-solid fa-xmark"></i><h1>  My Enrolled Courses</h1></div>
<ul> 
    {% for my_course in my_courses %}

        <li>
            <a href="{{my_course.course.course_link}}">{{ my_course.course.course_title }}</a>
            
        </li>
        <!-- Add more details about the course as needed -->
    {% empty %}
        <li>No courses enrolled.</li>
    {% endfor %}
</ul></div>
    </div>
        
    <script src='{% static "js/new.js" %}'></script>
    <script src='{% static "js/demos.js" %}'></script>
    <script src='{% static "js/popup.js" %}'></script>

</body>
</html>